/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f3e5e5;
    padding-top: 20px;
}

/* Header styles */
header {
    background-color: #e0c5c5;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

/* Logo styles */
header img {
    max-width: 100px;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2{
    text-align: center;
}
/* Gallery styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container {
    width: 48%;
    margin-bottom: 20px;
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #bbb6b6; /* Same background color as header */
    color: rgb(0, 0, 0); /* Same text color as header */
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

footer {
    background-color: #e0c5c5;
    color: rgb(0, 0, 0);
    padding: 3.5px;
    text-align: center;
    clear: both; /* Clear floats */
    position: fixed; /* Fixed position */
    bottom: 0; /* Stick to the bottom */
    width: 100%; /* Full width */
}
